.error-span {
  position: fixed; // stoji iznad sadrzaja
  top: 2rem;
  right: 2rem;
  background-color: #f02849;
  color: #f9fafb;
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  font-weight: 600;
  z-index: 1000;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;

  &.show {
    opacity: 1;
    transform: translateY(0);
  }
}

.error-msg {
  color: #f02849;
  font-weight: 500;
}

.status-span {
  position: fixed; // stoji iznad sadrzaja
  top: 2rem;
  right: 2rem;
  background-color: #095f14;
  color: #f9fafb;
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  font-weight: 600;
  z-index: 1000;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;

  &.show {
    opacity: 1;
    transform: translateY(0);
  }
}
// Error message
.error-message {
  padding: 0.75rem 1rem;
  background-color: #fef2f2;
  border: 1px solid rgba(239, 68, 68, 0.3);
  border-radius: 0.5rem;

  &__text {
    margin: 0;
    font-size: 0.875rem;
    color: #dc2626;
    font-weight: 500;
  }
}
// Success message
.success-message {
  padding: 0.75rem 1rem;
  background-color: #ecfdf5; // light green background
  border: 1px solid rgba(16, 185, 129, 0.3); // green border
  border-radius: 0.5rem;

  &__text {
    margin: 0;
    font-size: 0.875rem;
    color: #059669; // green text
    font-weight: 500;
  }
}

