.pagination {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  margin: 1rem 0;

  &__controls {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: transparent;
    padding: 0.75rem 1rem;
  }

  button,
  span,
  select {
    background-color: transparent;
    border: none;
    color: #f97316;
    border-radius: 20px;
    padding: 10px 15px;
    font-weight: 600;
    min-height: 45px;
    min-width: 45px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;

    &:hover:not(:disabled) {
      background-color: #fbeade;
      color: #f97316;
      transform: scale(1.05);
    }

    &:active:not(:disabled) {
      background-color: #c75c0f;
      color: white;
      transform: scale(0.95);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
      background-color: transparent;
      color: #f97316;
    }
  }

  button {
    border: none;
    color: #f97316;
  }

  select {
    appearance: none;
    border-radius: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23f97316' d='M6 9L1 4h10z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    padding-right: 2rem;
  }

  span {
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
  }
}
