.table-container {
  // Preuzeto iz dashboard__container
  max-width: 80rem;
  margin: 0 auto;
  padding: 1.5rem;

  background: white; // bela pozadina kao kartice
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

.title-container {
  max-width: 80rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #1f2937;
    margin: 0;
  }

  p {
    color: #4b5563;
    margin: 0;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;

  th,
  td {
    padding: 0.9rem 1.2rem;
    text-align: left;
  }

  th {
    background: #ea580c;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 0.85rem;
  }

  tr {
    border-bottom: 1px solid #f0f2f5;

    &:nth-child(even) {
      background: #e2e7ee;
    }

    &:hover {
      background: #ced0d4;
    }
  }

  td {
    color: #444;

    &:nth-child(3) a {
      text-decoration: none;
    }

    select {
      padding: 6px 10px;
      border-radius: 6px;
      border: 1px solid #ccc;
      background-color: #fff;
      font-size: 0.9rem;
      color: #2c3e50;
      cursor: pointer;
      transition: border 0.3s ease, box-shadow 0.3s ease;

      &:focus {
        border-color: #ea580c;
        box-shadow: 0 0 0 2px rgba(234, 88, 12, 0.2);
        outline: none;
      }

      option {
        padding: 6px 10px;
        background-color: #fff;
        color: #2c3e50;
      }
    }
  }
}

.btn-container {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1rem;
  font-family: inherit;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
  text-decoration: none;

  &:hover {
    transform: scale(1.03);
    background-color: #f02849;
  }
}
