@import "welcome-page";
@import "dashboard";
@import "header";
@import "footer";
@import "profile";
@import "error";
@import "spinner";
@import "table";
@import "restaurants";
@import "./employees";
@import "delivery-schedule";
@import "meal-item";
@import "menu";
@import "meal-form";
@import "meal-details";
@import "alergens";
@import "addons";
@import "filter";
@import "pagination";
@import "sort-form";
@import "user-alergen-form";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", "Segoe UI", "Roboto", "Helvetica Neue", Arial,
    sans-serif;
  background-color: #f9fafb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex: 1;
  min-height: 900px;
}
